
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
INSTALL
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
compile
push
stamp-h1
libtool
ltmain.sh
test-driver

# app-specific
hail*.tar.gz
hail-config.h*

# cscope files
cscope.*
ncscope.*

# ignore Doxygen output directory
gendoc
