
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
INSTALL
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
push
stamp-h1
libtool
ltmain.sh

# app-specific
cld
cldbadm
cld*.tar.gz
cld-config.h*

# cscope files
cscope.*
ncscope.*

# XDR files
*_rpc.h
*_rpc_xdr.c

# ignore Doxygen output directory
gendoc
